p{
    font-family: Arial, Helvetica, sans-serif
}
p{
    font-family: 16px;
    line-height: 1.25em
}
h1{
    font-family: Arial, Helvetica, sans-serif
}
h6{
    font-family: Arial, Helvetica, sans-serif
}
h6{
    line-height: .25em
}
h1{
    line-height: 1em
}
img{
    display: block;
    margin-left:  auto;
    margin-right: auto;
    width: 50%;
}

.relatedstories{
    padding: 100px;
}
.imageone{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: px;

    object-fit: cover;
    object-position: center;
}

.relatedstories2{
    padding: 100px;
}
.imagetwo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 75px;

    object-fit: cover;
    object-position: center left;
}

.relatedstories {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.relatedstories2 {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 11px;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
  }